/*
 * SAMSUNG SMDK5420 EVT1 board device tree source
 *
 * Copyright (c) 2013 Samsung Electronics Co., Ltd.
 *		http://www.samsung.com
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
*/

/dts-v1/;
#include "exynos5420.dtsi"

/ {
	model = "SAMSUNG SMDK5420 EVT1 board based on EXYNOS5420";
	compatible = "samsung,smdk5420", "samsung,exynos5420";

	chosen {
		bootargs = "console=ttySAC3,115200";
	};

	fixed-rate-clocks {
		xxti {
			compatible = "samsung,clock-xxti";
			clock-frequency = <24000000>;
		};
	};

    pinctrl@13400000 {
        max98090_irq: max98090-irq {
            samsung,pins = "gpx0-2";
            samsung,pin-function = <0>;
            samsung,pin-pud = <0>;
            samsung,pin-drv = <0>;
        };

        dp_hpd: dp-hpd {
			samsung,pins = "gpx0-7";
			samsung,pin-function = <0>;
			samsung,pin-pud = <3>;
			samsung,pin-drv = <0>;
	    };
    };

	watchdog {
		status = "okay";
	};

	rtc {
		status = "okay";
	};

	serial@12C00000 {
		status = "okay";
	};

	serial@12C10000 {
		status = "okay";
	};

	serial@12C20000 {
		status = "okay";
	};

	serial@12C30000 {
		status = "okay";
	};

	dwmmc0@12200000 {
		status = "okay";
		num-slots = <1>;
		broken-cd;
		bypass-smu;
		supports-highspeed;
		supports-hs200-mode; /* 200 Mhz */
		fifo-depth = <0x40>;
		card-detect-delay = <200>;
        clock-frequency = <400000000>;
		samsung,dw-mshc-ciu-div = <3>;
		samsung,dw-mshc-sdr-timing = <0 4>;
		samsung,dw-mshc-ddr-timing = <0 2>;
		pinctrl-names = "default";
		pinctrl-0 = <&sd0_clk &sd0_cmd &sd0_bus4 &sd0_bus8>;

		slot@0 {
			reg = <0>;
			bus-width = <8>;
		};
	};

	dwmmc2@12220000 {
        vqmmc-supply = <&vqmmc_sdcard>;
		status = "okay";
		num-slots = <1>;
		supports-highspeed;
		fifo-depth = <0x40>;
		card-detect-delay = <200>;
        clock-frequency = <400000000>;
		samsung,dw-mshc-ciu-div = <3>;
		samsung,dw-mshc-sdr-timing = <2 3>;
		samsung,dw-mshc-ddr-timing = <1 2>;
		pinctrl-names = "default";
		pinctrl-0 = <&sd2_clk &sd2_cmd &sd2_cd &sd2_bus4>;

		slot@0 {
			reg = <0>;
			bus-width = <4>;
		};
	};

	vdd: fixed-regulator@0 {
		compatible = "regulator-fixed";
		regulator-name = "vdd-supply";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
	};

	dbvdd: fixed-regulator@1 {
		compatible = "regulator-fixed";
		regulator-name = "dbvdd-supply";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
	};

	spkvdd: fixed-regulator@2 {
		compatible = "regulator-fixed";
		regulator-name = "spkvdd-supply";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
	};

	/* i2c1 */
	i2c@12C70000 {
		status = "okay";
		samsung,i2c-sda-delay = <100>;
		samsung,i2c-max-bus-freq = <20000>;

		wm8994: wm8994@1a {
			compatible = "wlf,wm8994";
			reg = <0x1a>;

			gpio-controller;
			#gpio-cells = <2>;

			AVDD2-supply = <&vdd>;
			CPVDD-supply = <&vdd>;
			DBVDD-supply = <&dbvdd>;
			SPKVDD1-supply = <&spkvdd>;
			SPKVDD2-supply = <&spkvdd>;
		};
	};

	/* hsi2c4 */
	hsi2c@12CA0000 {
		status = "okay";
        clock-frequency = <400000>;
		s2mps11_pmic@66 {
			compatible = "samsung,s2mps11-pmic";
            interrupt-parent = <&gpx0>;
            interrupts = <4 0>;
			reg = <0x66>;
			s2mps11,buck2-ramp-delay = <12>;
			s2mps11,buck34-ramp-delay = <12>;
			s2mps11,buck16-ramp-delay = <12>;
			s2mps11,buck6-ramp-enable = <1>;
			s2mps11,buck2-ramp-enable = <1>;
			s2mps11,buck3-ramp-enable = <1>;
			s2mps11,buck4-ramp-enable = <1>;

			regulators {
				buck1_reg: BUCK1 {
					regulator-name = "vdd_mif";
					regulator-min-microvolt = <800000>;
					regulator-max-microvolt = <1300000>;
					regulator-always-on;
					regulator-boot-on;
				};

				buck2_reg: BUCK2 {
					regulator-name = "vdd_arm";
					regulator-min-microvolt = <800000>;
					regulator-max-microvolt = <1500000>;
					regulator-always-on;
					regulator-boot-on;
				};

				buck3_reg: BUCK3 {
					regulator-name = "vdd_int";
					regulator-min-microvolt = <800000>;
					regulator-max-microvolt = <1400000>;
					regulator-always-on;
					regulator-boot-on;
                    regulator-op-mode = <2>;
				};

				buck4_reg: BUCK4 {
					regulator-name = "vdd_g3d";
					regulator-min-microvolt = <800000>;
					regulator-max-microvolt = <1400000>;
					regulator-always-on;
					regulator-boot-on;
				};

				buck6_reg: BUCK6 {
					regulator-name = "vdd_kfc";
					regulator-min-microvolt = <800000>;
					regulator-max-microvolt = <1500000>;
					regulator-always-on;
					regulator-boot-on;
				};

				buck10_reg: BUCK10 {
					regulator-name = "vdd_emmc";
					regulator-min-microvolt = <2850000>;
					regulator-max-microvolt = <2850000>;
					regulator-always-on;
					regulator-boot-on;
				};

				ldo5_reg: LDO5 {
					regulator-name = "vdd_ldo5";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
					regulator-always-on;
				};

				ldo6_reg: LDO6 {
					regulator-name = "vdd_ldo6";
					regulator-min-microvolt = <1000000>;
					regulator-max-microvolt = <1000000>;
					regulator-always-on;
				};

				ldo7_reg: LDO7 {
					regulator-name = "vdd_ldo7";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
					regulator-always-on;
				};

				ldo8_reg: LDO8 {
					regulator-name = "vdd_ldo8";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
					regulator-always-on;
				};

				ldo9_reg: LDO9 {
					regulator-name = "vdd_ldo9";
					regulator-min-microvolt = <3000000>;
					regulator-max-microvolt = <3000000>;
					regulator-always-on;
				};

				ldo10_reg: LDO10 {
					regulator-name = "vdd_ldo10";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
					regulator-always-on;
				};

				ldo11_reg: LDO11 {
					regulator-name = "vdd_ldo11";
					regulator-min-microvolt = <1000000>;
					regulator-max-microvolt = <1000000>;
					regulator-always-on;
				};

				ldo12_reg: LDO12 {
					regulator-name = "vdd_ldo12";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
					regulator-always-on;
				};

				ldo13_reg: LDO13 {
					regulator-name = "vdd_ldo13";
					regulator-min-microvolt = <2800000>;
					regulator-max-microvolt = <2800000>;
					regulator-always-on;
				};

				ldo15_reg: LDO15 {
					regulator-name = "eth_p3v3";
					regulator-min-microvolt = <3300000>;
					regulator-max-microvolt = <3300000>;
					regulator-always-on;
				};

				ldo16_reg: LDO16 {
					regulator-name = "vdd_ldo16";
					regulator-min-microvolt = <2200000>;
					regulator-max-microvolt = <2200000>;
					regulator-always-on;
				};

				ldo17_reg: LDO17 {
					regulator-name = "eth_p3v3";
					regulator-min-microvolt = <3300000>;
					regulator-max-microvolt = <3300000>;
					regulator-always-on;
				};

                vqmmc_sdcard: ldo19_reg: LDO19 {
					regulator-name = "vdd_sd";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <2800000>;
					regulator-always-on;
				};

				ldo23_reg: LDO23 {
					regulator-name = "vdd_mifs";
					regulator-min-microvolt = <900000>;
					regulator-max-microvolt = <1300000>;
				};

				ldo27_reg: LDO27 {
					regulator-name = "vdd_g3ds";
					regulator-min-microvolt = <1000000>;
					regulator-max-microvolt = <1000000>;
				};

				ldo28_reg: LDO28 {
					regulator-name = "dp_p3v3";
					regulator-min-microvolt = <3300000>;
					regulator-max-microvolt = <3300000>;
				};
			};

            s2mps11_rtc: rtc {
            };
		};
	};

	/* hsi2c5 */
	hsi2c@12CB0000 {
		status = "okay";
        clock-frequency = <400000>;

        max98090: codec@10 {
            compatible = "maxim,max98090";
            reg = <0x10>;
            interrupts = <2 0>;
            interrupt-parent = <&gpx0>;
            pinctrl-names = "default";
            pinctrl-0 = <&max98090_irq>;
        };

    };

	/* hsi2c5 */
	hsi2c@12CB0000 {
		status = "okay";
	};

	/* hsi2c6 */
	hsi2c@12CC0000 {
		status = "okay";
	};

	/* hsi2c7 */
	hsi2c@12CD0000 {
		status = "okay";
	};

	/* dw usb3_0 */
	usb@12000000 {
		status = "okay";
	};

	/* ehci */
	usb@12110000 {
		status = "okay";
	};

	/* ohci */
	usb@12120000 {
		status = "okay";
	};

	/* dw usb3_1 */
	usb@12400000 {
		status = "okay";
	};

	fimd {
		samsung,fimd-vidout-rgb;
		samsung,fimd-inv-vclk;
		samsung,default-window = <0>;
		samsung,fimd-win-bpp = <32>;
		samsung,fimd-src-clk-rate = <266000000>;
	};

	lcd_dp0: lcd_panel0 {
		lcd-htiming = <80 48 32 2560>;
		lcd-vtiming = <16 8 6 1600>;
		lcd-dimensions = <256 144>;
	};

	display-port-controller {
		samsung,dp-display = <&lcd_dp0>;
		samsung,dp-frame-rate = <60>;
		samsung,color-space = <0>;
		samsung,dynamic-range = <0>;
		samsung,ycbcr-coeff = <0>;
		samsung,color-depth = <1>;
		samsung,link-rate = <0x0a>;
		samsung,lane-count = <4>;
		samsung,hpd-gpio = <&gpx0 7 0>;
		pinctrl-names = "default";
		pinctrl-0 = <&dp_hpd>;
    };

	codec@11000000 {
		samsung,mfc-r = <0x43000000 0x800000>;
		samsung,mfc-l = <0x51000000 0x800000>;
	};

	hdmi {
		hpd-gpio = <&gpx3 7 0>;
		pinctrl-names = "default";
		pinctrl-0 = <&hdmi_hpd_irq>;
		hdmi-en-supply = <&fixed_regulator>;
		vdd-supply = <&ldo8_reg>;
		vdd_osc-supply = <&ldo10_reg>;
		vdd_pll-supply = <&ldo8_reg>;
	};

	fixed_regulator: fixedregulator@0 {
		compatible = "regulator-fixed";
		regulator-name = "hdmi-en";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};

	i2c_2: i2c@12C80000 {
		samsung,i2c-sda-delay = <100>;
		samsung,i2c-max-bus-freq = <66000>;
		status = "okay";

        hdmihdcp@3a {
            compatible = "samsung,exynos4210-hdmihdcp";
            reg = <0x3a>;
        };

		hdmiddc@50 {
			compatible = "samsung,exynos4210-hdmiddc";
			reg = <0x50>;
		};
	};

	i2s0: i2s@03830000 {
		status = "okay";
	};

	sound {
		compatible = "google,daisy-audio-max98090";

		samsung,i2s-controller = <&i2s0>;
		samsung,audio-codec = <&max98090>;
        clocks = <&clock 3>, <&clock 4>, <&clock 1025>,
            <&clock 148>, <&clock_audss EXYNOS_MOUT_AUDSS>,
            <&clock_audss EXYNOS_MOUT_I2S>;
        clock-names = "fout_epll", "sclk_epll", "mout_audio0",
            "sclk_audio0", "mout_audss", "mout_i2s";
	};

    /*
     * Use longest HW watchdog in SoC (32 seconds) since the hardware
     * watchdog provides no debugging information (compared to soft/hard
     * lockup detectors) and so should be last resort.
     */
    watchdog@101D0000 {
        timeout-sec = <32>;
    };

    leds {
        compatible = "gpio-leds";
        hearbeat {
            label = "blue:heartbeat";
            gpios = <&gpb2 2 0>;
            default-state = "off";
            linux,default-trigger = "heartbeat";
        };

        eMMC {
            label = "green:activity";
            gpios = <&gpb2 1 0>;
            default-state = "off";
            linux,default-trigger = "mmc0";
        };

        microSD {
            label = "red:activity";
            gpios = <&gpx2 3 0>;
            default-state = "off";
            linux,default-trigger = "mmc1";
        };
    };
};
