/*
 * Hardkernel's Odroid-xu board device tree source
 *
 * Copyright (c) 2013 Hardkernel Co., Ltd.
 *		http://www.hardkernel.com
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
*/

/dts-v1/;
#include "exynos5410.dtsi"

/ {
	model = "Hardkernel Odroid-xu board based on EXYNOS5410";
	compatible = "hardkernel,odroidxu", "samsung,exynos5410";

	memory {
		reg = <0x40000000 0x80000000>;
	};

	chosen {
		bootargs = "console=ttySAC2,115200n8 tty=tty2 init=/linuxrc";
	};

	firmware@02073000 {
		compatible = "samsung,secure-firmware";
		reg = <0x2073000 0x1000>;
	};

	fixed-rate-clocks {
		xxti {
			compatible = "samsung,clock-xxti";
			clock-frequency = <24000000>;
		};
	};

	serial@12C00000 {
		status = "okay";
	};	

	serial@12C10000 {
		status = "okay";
	};	
	
	serial@12C20000 {
		status = "okay";
	};

	serial@12C30000 {
		status = "okay";
	};
	
	amba {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "arm,amba-bus";
		interrupt-parent = <&gic>;
		ranges;

		pdma0: pdma@121A0000 {
			compatible = "arm,pl330", "arm,primecell";
			reg = <0x121A0000 0x1000>;
			interrupts = <0 34 0>;
		};

		pdma1: pdma@121B0000 {
			compatible = "arm,pl330", "arm,primecell";
			reg = <0x121B0000 0x1000>;
			interrupts = <0 35 0>;
		};

		mdma0: mdma@10800000 {
			compatible = "arm,pl330", "arm,primecell";
			reg = <0x10800000 0x1000>;
			interrupts = <0 33 0>;
		};

		mdma1: mdma@11C10000 {
			compatible = "arm,pl330", "arm,primecell";
			reg = <0x11C10000 0x1000>;
			interrupts = <0 124 0>;
		};
	};

	dwmmc_0: dwmmc0@12200000 {
		num-slots = <1>;
		supports-highspeed;
		supports-hs200-mode;	/* 200MHz */
		broken-cd;
		bypass-smu;
		fifo-depth = <0x40>;
		card-detect-delay = <200>;
		samsung,dw-mshc-ciu-div = <3>;
		samsung,dw-mshc-sdr-timing = <0 4>;
		samsung,dw-mshc-ddr-timing = <0 2>;
		pinctrl-names = "default";
		pinctrl-0 = <&sd0_clk &sd0_cmd &sd0_bus4 &sd0_bus8>;

		slot@0 {
			reg = <0>;
			bus-width = <8>;
		};
	};

	dwmmc_1: dwmmc1@12210000 {
		 status = "disabled";
	};

	dwmmc_2: dwmmc2@12220000 {
		num-slots = <1>;
		supports-highspeed;
		fifo-depth = <0x40>;
		card-detect-delay = <200>;
		samsung,dw-mshc-ciu-div = <3>;
		samsung,dw-mshc-sdr-timing = <2 3>;
		samsung,dw-mshc-ddr-timing = <1 2>;
		pinctrl-names = "default";
		pinctrl-0 = <&sd2_clk &sd2_cmd &sd2_cd &sd2_bus4>;

		slot@0 {
			reg = <0>;
			bus-width = <4>;
			disable-wp;
		};
	};

	pinctrl@13400000 {
		max77802_irq: max77802-irq {
			samsung,pins = "gpx0-4";
			samsung,pin-function = <0>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <0>;
		};
	};

	pinctrl@14000000 {
		usb3_overcur0_u2: usb3-overcur0-u2 {
			samsung,pins = "gpk3-0";
			samsung,pin-function = <0>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <0>;
		};

		usb3_overcur0_u3: usb3-overcur0-u3 {
			samsung,pins = "gpk3-1";
			samsung,pin-function = <2>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <0>;
		};

		usb3_overcur1_u2: usb3-overcur1-u2 {
			samsung,pins = "gpk2-4";
			samsung,pin-function = <2>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <0>;
		};

		usb3_overcur1_u3: usb3-overcur1-u3 {
			samsung,pins = "gpk2-5";
			samsung,pin-function = <2>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <0>;
		};

		usb3_vbus0_en: usb3-vbus0-en {
			samsung,pins = "gpk3-3";
			samsung,pin-function = <2>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <0>;
		};

		usb3_vbus1_en: usb3-vbus1-en {
			samsung,pins = "gpk2-7";
			samsung,pin-function = <2>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <0>;
		};
	};

	hsi2c@12CA0000 {
		status = "okay";
		samsung,hs-mode;
		clock-frequency = <1000000>;

		max77802-pmic@9 {
			compatible = "maxim,max77802";
			interrupt-parent = <&gpx0>;   
			interrupts = <4 0>;
			pinctrl-names = "default";
			pinctrl-0 = <&max77802_irq>;
			wakeup-source;
			reg = <0x9>;  

			voltage-regulators {
				ldo1_reg: LDO1 {
				regulator-name = "vdd_1v0";
					regulator-min-microvolt = <1000000>;
					regulator-max-microvolt = <1000000>;
					regulator-always-on;
					regulator-op-mode = <2>;
				};
				ldo2_reg: LDO2 {
					regulator-name = "vdd_1v2";
					regulator-min-microvolt = <1200000>;
					regulator-max-microvolt = <1200000>;
					regulator-always-on;
				};
				ldo3_reg: LDO3 {
					regulator-name = "vdd_1v8_3";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
					regulator-always-on;
					regulator-op-mode = <2>;
				};
				ldo4_reg: LDO4 {
					regulator-name = "vdd_sd";
					regulator-min-microvolt = <2800000>;
					regulator-max-microvolt = <2800000>;
					regulator-always-on;
					regulator-op-mode = <1>;
				};
				ldo5_reg: LDO5 {
					regulator-name = "vdd_1v8_5";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
					regulator-always-on;
					regulator-op-mode = <1>;
				};
				ldo6_reg: LDO6 {
					regulator-name = "vdd_1v8_6";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
					regulator-always-on;
					regulator-op-mode = <1>;
				};
				ldo7_reg: LDO7 {
					regulator-name = "vdd_1v8_7";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
				};
				ldo8_reg: LDO8 {
					regulator-name = "vdd_ldo8";
					regulator-min-microvolt = <1000000>;
					regulator-max-microvolt = <1000000>;
					regulator-always-on;
					regulator-op-mode = <1>;
				};
				ldo10_reg: LDO10 {
					regulator-name = "vdd_ldo10";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
					regulator-always-on;
					regulator-op-mode = <1>;
				};
				ldo11_reg: LDO11 {
					regulator-name = "vdd_ldo11";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
					regulator-always-on;
					regulator-op-mode = <2>;
				};
				ldo12_reg: LDO12 {
					regulator-name = "vdd_ldo12";
					regulator-min-microvolt = <3000000>;
					regulator-max-microvolt = <3000000>;
					regulator-always-on;
					regulator-op-mode = <1>;
				};
				ldo13_reg: LDO13 {
					regulator-name = "vdd_ldo13";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
					regulator-always-on;
					regulator-op-mode = <2>;
				};
				ldo14_reg: LDO14 {
					regulator-name = "vdd_ldo14";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
					regulator-always-on;
					regulator-op-mode = <1>;
				};
				ldo15_reg: LDO15 {
					regulator-name = "vdd_ldo15";
					regulator-min-microvolt = <1000000>;
					regulator-max-microvolt = <1000000>;
					regulator-always-on;
					regulator-op-mode = <1>;
				};
				ldo17_reg: LDO17 {
					regulator-name = "ldo_17";
					regulator-min-microvolt = <1200000>;
					regulator-max-microvolt = <1200000>;
					regulator-op-mode = <1>;
				};
				ldo18_reg: LDO18 {
					regulator-name = "ldo_18";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
				};
				ldo20_reg: LDO20 {
					regulator-name = "ldo_20";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
					regulator-always-on;
					regulator-op-mode = <0>;
				};
				ldo21_reg: LDO21 {
					regulator-name = "ldo_21";
					regulator-min-microvolt = <2850000>;
					regulator-max-microvolt = <2850000>;
					regulator-always-on;
				};
				ldo23_reg: LDO23 {
					regulator-name = "ldo_23";
					regulator-min-microvolt = <3300000>;
					regulator-max-microvolt = <3300000>;
					regulator-always-on;
				};
				ldo24_reg: LDO24 {
					regulator-name = "ldo_24";
					regulator-min-microvolt = <2800000>;
					regulator-max-microvolt = <2800000>;
				};
				ldo25_reg: LDO25 {
					regulator-name = "ldo_25";
					regulator-min-microvolt = <3300000>;
					regulator-max-microvolt = <3300000>;
					regulator-always-on;
				};
				ldo26_reg: LDO26 {
					regulator-name = "ldo_26";
					regulator-min-microvolt = <3300000>;
					regulator-max-microvolt = <3300000>;
					regulator-always-on;
				};
				ldo30_reg: LDO30 {
					regulator-name = "ldo_30";
					regulator-min-microvolt = <1200000>;
					regulator-max-microvolt = <1200000>;
					regulator-always-on;
				};
				ldo32_reg: LDO32 {
					regulator-name = "ldo_32";
					regulator-min-microvolt = <3300000>;
					regulator-max-microvolt = <3300000>;
					regulator-always-on;
				};
				buck1_reg: BUCK1 {
					regulator-name = "vdd_mif";
					regulator-min-microvolt = <800000>;
					regulator-max-microvolt = <1300000>;
					regulator-always-on;
					regulator-boot-on;  
					regulator-op-mode = <1>;
					regulator-ramp-delay = <12500>;
				};
				buck2_reg: BUCK2 {
					regulator-name = "vdd_arm";
					regulator-min-microvolt = <800000>;
					regulator-max-microvolt = <1500000>;
					regulator-always-on;
					regulator-boot-on;  
					regulator-op-mode = <1>;
					regulator-ramp-delay = <12500>;
				};
				buck3_reg: BUCK3 {
					regulator-name = "vdd_int";
					regulator-min-microvolt = <800000>;
					regulator-max-microvolt = <1400000>;
					regulator-always-on;
					regulator-boot-on;  
					regulator-op-mode = <1>;
					regulator-ramp-delay = <12500>;
				};
				buck4_reg: BUCK4 {
					regulator-name = "vdd_g3d";
					regulator-min-microvolt = <800000>;
					regulator-max-microvolt = <1400000>;
					regulator-always-on;
					regulator-boot-on;  
					regulator-op-mode = <1>;
					regulator-ramp-delay = <12500>;
				};
				buck5_reg: BUCK5 {
					regulator-name = "vdd_1v2";
					regulator-min-microvolt = <800000>; 
					regulator-max-microvolt = <1500000>;
					regulator-always-on;
					regulator-boot-on;  
					regulator-op-mode = <1>;
				};
				buck6_reg: BUCK6 {
					regulator-name = "vdd_kfc";
					regulator-min-microvolt = <800000>;
					regulator-max-microvolt = <1500000>;
					regulator-always-on;
					regulator-boot-on;  
					regulator-op-mode = <1>;
					regulator-ramp-delay = <12500>;
				};
				buck7_reg: BUCK7 {
					regulator-name = "vdd_1v35";
					regulator-min-microvolt = <1350000>;
					regulator-max-microvolt = <1350000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-op-mode = <3>;
				};
				buck8_reg: BUCK8 {
					regulator-name = "vdd_emmc";
					regulator-min-microvolt = <2850000>;
					regulator-max-microvolt = <2850000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-op-mode = <1>;
				};
				buck9_reg: BUCK9 {
					regulator-name = "vdd_2v";
					regulator-min-microvolt = <2000000>;
					regulator-max-microvolt = <2000000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-op-mode = <3>;
				};
				buck10_reg: BUCK10 {
					regulator-name = "vdd_2v85";
					regulator-min-microvolt = <2800000>;
					regulator-max-microvolt = <3000000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-op-mode = <3>;
				};
				en32khz_ap: EN32KHZ_AP {
					regulator-name = "en32khz_ap";
					regulator-always-on;
				};
				en32khz_cp: EN32KHZ_CP {
					regulator-name = "en32khz_cp";
				};
			};

			maxim_rtc: rtc {
			};

		};

		usb3503@8 {
			compatible = "smsc,usb3503";
			reg = <0x08>;
			secondary-refclk;
			reset-gpios = <&gpx1 4 1>;
			connect-gpios = <&gpx0 6 1>;
			int-gpios = <&gpx0 7 1>;
			initial-mode = <1>;  /* HUB mode */
		};
	 };

	/* dw usb3_0 */
	usb@12000000 {
		status = "okay";
		samsung,vbus-gpio = <&gpk3 3 0>;
		pinctrl-names = "default";
		pinctrl-0 = <&usb3_vbus0_en>, <&usb3_overcur0_u3>, <&usb3_overcur0_u2>;
	};

	/* ehci */
	usb@12110000 {
		status = "okay";
	};

	/* ohci */
	usb@12120000 {
		status = "okay";
	};

	/* dw usb3_1 */
	usb@12400000 {
		status = "okay";
		samsung,vbus-gpio = <&gpk2 7 0>;
		pinctrl-names = "default";
		pinctrl-0 = <&usb3_vbus1_en &usb3_overcur1_u3 &usb3_overcur1_u2>;
	};
	
	leds {
		compatible = "gpio-leds";
		hearbeat {
			label = "red:heartbeart";		
			gpios = <&gpx2 3 GPIO_ACTIVE_HIGH>;
			default-state = "on";
			linux,default-trigger = "heartbeat";
		};
		eMMC {
			label = "green:activity";
			gpios = <&gpb2 1 GPIO_ACTIVE_HIGH>;
			default-state = "on";
			linux,default-trigger = "mmc0";
		};
		microSD {
			label = "blue:activity";
			gpios = <&gpb2 2 GPIO_ACTIVE_HIGH>;
			default-state = "on";
			linux,default-trigger = "mmc1";
		};
	};
	
	lcd_fimd0: lcd_panel0 {
		lcd-htiming = <80 48 32 2560>;
		lcd-vtiming = <16 8 6 1600>;
	};

	fimd {
		samsung,fimd-display = <&lcd_fimd0>;
		samsung,fimd-vidout-rgb;
		samsung,fimd-inv-vclk;
		samsung,fimd-frame-rate = <60>;
		samsung,default-window = <0>;
		samsung,fimd-win-bpp = <32>;
		samsung,fimd-src-clk-rate = <266000000>;
	};

	display-port-controller {
		samsung,color-space = <0>;
		samsung,dynamic-range = <0>;
		samsung,ycbcr-coeff = <0>;
		samsung,color-depth = <1>;
		samsung,link-rate = <0x0a>;
		samsung,lane-count = <4>;
	};

	codec@11000000 {
		samsung,mfc-r = <0x43000000 0x800000>;
		samsung,mfc-l = <0x51000000 0x800000>;
   };
};
